POSTGRES_DB=kernexa
POSTGRES_USER=kernexa_user
POSTGRES_PASSWORD=supersecret
POSTGRES_PORT=5432
NVD_API_KEY=5ffffffd-eff9-477f-8ff3-9a5fffff84
CREDENTIALS_KEY=cmu22xnffffcQh_zN_3zNfffffzjfx3HVm5Sch8BzU=
IMAGE=jalenmakdocker/kernexa:stable
APP_PORT=8000
DB_PORT=5432
ADMINER_PORT=8080
ENABLE_DOCS=false