POSTGRES_DB=kernexa
POSTGRES_USER=kernexa_user
POSTGRES_PASSWORD=supersecret
POSTGRES_PORT=5432
NVD_API_KEY=5fc9cf5d-ece9-4773-8513-9a5d07dfd984
CREDENTIALS_KEY=NLraLITQ0OOwVlResg19ajhtR5NYdnWB2-CDrsqMAUw=
IMAGE=jalenmakdocker/kernexa:stable
APP_PORT=8000
DB_PORT=5432
ADMINER_PORT=8080
ENABLE_DOCS=false
OPENAI_API_KEY=sk-xxxxxxx
# For Azure OpenAI, use the following variables instead of OPENAI_API_KEY

AZURE_OPENAI_API_KEY=C3ixxxxxbxxxxxxx
AZURE_OPENAI_ENDPOINT=https://xxxxxx.cognitiveservices.azure.com/
AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini
AZURE_OPENAI_API_VERSION=2024-12-01-preview