ansible
ansible-runner
psycopg2-binary
sqlalchemy
fastapi
uvicorn
pydantic
python-multipart
apscheduler
requests
openpyxl
cryptography
wheel>=0.46.2
jaraco.context>=6.1.0
pywinrm[kerberos]
requests-ntlm
openai>=1.0.0

#Auth
bcrypt
python-jose[cryptography]